{% extends 'base.html' %}

{% block content %}
<div class="description">
    <h1 class="custom-h1 text-center mb-0">Altersverteilung</h1>
    <p class="mb-0">Diese Seite präsentiert grafische Darstellungen zur Altersverteilung in verschiedenen Ländern im Jahr 2022. Die
        Diagramme zeigen die Bevölkerungszusammensetzung nach Altersgruppen: Personen im Alter von 65 Jahren und älter,
        Personen im Alter von 15 bis 64 Jahren sowie Personen bis zu 14 Jahren. Sie bieten einen Überblick über die
        demografische Struktur dieser Altersgruppen in den Top 10 Ländern nach Bevölkerungszahl. Die Visualisierungen
        ermöglichen es, Vergleiche zwischen den Altersgruppen und verschiedenen Ländern einfach zu ziehen und
        demografische Trends zu analysieren.</p>
</div>
<div class="charts text-center">
    <div class="chart-top">
        <img src="data:image/png;base64,{{ age_distribution_chart }}"/>
    </div>
    <div class="chart-middle-top">
        <img src="data:image/png;base64,{{ chart_old }}"/>
    </div>
    <div class="chart">
        <img src="data:image/png;base64,{{ chart_middle }}"/>
    </div>
    <div class="chart-btm">
        <img src="data:image/png;base64,{{ chart_young }}"/>
    </div>
</div>

{% endblock %}
