{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Weltbevölkerungsstatistik{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/styles.scss' %}">
    {% endcompress %}
</head>
<body>
    {% include 'navbar.html' %}


    <div class="content bg-light">
        <div class="container">
            {% block content %}
            <!-- Hier wird der spezifische Inhalt der einzelnen Seiten eingefügt -->
            {% endblock %}
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="{% static 'js/active_link.js'%}"></script>

</body>
</html>
