{% extends 'base.html' %}

{% block content %}

<div class="description">
    <h1 class="custom-h1 text-center mb-0">Geschlehterverhältnis</h1>
    <p class="mb-0">Diese Seite zeigt grafische Darstellungen des Geschlechterverhältnisses in verschiedenen Ländern und weltweit. Es
        werden das Verhältnis von Männern zu Frauen über die Jahre sowie die Top 10 Länder nach dem prozentualen Anteil
        von Männern und Frauen im Jahr 2022 dargestellt. Zusätzlich werden die Länder mit der höchsten männlichen und
        weiblichen Bevölkerungszahl im Jahr 2022 visualisiert. Insgesamt betrug das globale Geschlechterverhältnis im
        Jahr 2022 50,3 % Männer zu 49,7 % Frauen.</p>
</div>
<div class="charts text-center">
    <div class="chart-top">
        <img src="data:image/png;base64,{{ graphic_world_ratio }}"/>
    </div>
    <div class="chart">
        <img src="data:image/png;base64,{{ graphic_male }}"/>
    </div>
    <div class="chart-middle">
        <img src="data:image/png;base64,{{ graphic_female }}"/>
    </div>
    <div class="chart">
        <img src="data:image/png;base64,{{ graphic_male_to_female_percentage }}"/>
    </div>
    <div class="chart-btm">
        <img src="data:image/png;base64,{{ graphic_female_to_male_percentage }}"/>
    </div>
</div>

{% endblock %}
