{% extends 'base.html' %}

{% block content %}
<div class="pt-3">
    <div class="description">
        <h1 class="text-center">Geschlehterverhältnis</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est
            laborum.</p>
    </div>
    <div class="charts text-center">
        <div class="chart">
            <img src="data:image/png;base64,{{ graphic_world_ratio }}"/>
        </div>
        <div class="chart">
            <img src="data:image/png;base64,{{ graphic_male }}"/>
        </div>
        <div class="chart">
            <img src="data:image/png;base64,{{ graphic_female }}"/>
        </div>
        <div class="chart">
            <img src="data:image/png;base64,{{ graphic_male_to_female_percentage }}"/>
        </div>
        <div class="chart">
            <img src="data:image/png;base64,{{ graphic_female_to_male_percentage }}"/>
        </div>
    </div>
</div>
{% endblock %}
