{% extends 'base.html' %}

{% block content %}
<div class="space-from-footer">
    <h1 class="custom-h1 text-center mt-8 mb-8">Willkommen zur Analyse und Visualisierung der
        Weltbevölkerungsstatistik</h1>
    <h2 class="custom-h2 text-center">Über diese Webanwendung</h2>
    <p>Diese Webanwendung bietet Ihnen eine interaktive Plattform zur Analyse und Visualisierung von Bevölkerungsdaten
        aus verschiedenen Ländern und Regionen der Welt. Hier finden Sie detaillierte Informationen und Grafiken zu den
        folgenden Themen:</p>
    <div class="custom-pb">
        <h3 class="custom-h3">Wachstumsraten:</h3>
        <ul>
            <li> Top 10 Länder nach Bevölkerungszahl im Jahr 2022: Visualisierung der Länder mit der höchsten
                Bevölkerungszahl.
            </li>
            <li> Wachstumsrate in den letzten 10 Jahren (2013-2022): Analyse der Bevölkerungswachstumsraten der letzten
                Dekade.
            </li>
            <li>Wachstumsrate in den letzten 60 Jahren (1963-2022): Langfristige Trends der
                Bevölkerungswachstumsraten.
            </li>
        </ul>
        <h3 class="custom-h3">Altersverteilung:</h3>
        <ul>
            <li>Altersverteilung der Weltbevölkerung: Darstellung der Bevölkerung in verschiedenen Altersgruppen über
                die
                Jahre.
            </li>
            <li>Top 10 Länder nach Bevölkerungszahl im Alter von 65 Jahren und älter im Jahr 2022: Länder mit der
                größten
                älteren Bevölkerung.
            </li>
            <li>Top 10 Länder nach Bevölkerungszahl im Alter von 15 bis 64 Jahren im Jahr 2022: Länder mit der größten
                Bevölkerung im Erwerbsalter.
            </li>
            <li>Top 10 Länder nach Bevölkerungszahl im Alter bis 14 Jahren im Jahr 2022: Länder mit der größten jungen
                Bevölkerung.
            </li>
        </ul>
        <h3 class="custom-h3">Geschlechterverhältnis:</h3>
        <ul class="custom-pb">
            <li>Weltweites Geschlechterverhältnis: Vergleich der männlichen und weiblichen Bevölkerungszahlen über die
                Jahre.
            </li>
            <li>Top 10 Länder nach Verhältnis Männer zu Frauen als Prozentzahl im Jahr 2022: Länder mit dem höchsten
                Anteil
                an Männern.
            </li>
            <li>Top 10 Länder nach Verhältnis Frauen zu Männern als Prozentzahl im Jahr 2022: Länder mit dem höchsten
                Anteil
                an Frauen.
            </li>
            <li>Top 10 Länder nach männlicher Bevölkerungszahl im Jahr 2022: Länder mit der größten männlichen
                Bevölkerung.
            </li>
            <li>Top 10 Länder nach weiblicher Bevölkerungszahl im Jahr 2022: Länder mit der größten weiblichen
                Bevölkerung.
            </li>
        </ul>
    </div>
    <h2 class="custom-h2 text-center">Nutzung der Anwendung</h2>
    <p class="mb-0">
        Analysieren und Vergleichen: Nutzen Sie die interaktiven Grafiken, um demografische Trends und Entwicklungen zu
        erkunden.
        Erkennen von Mustern: Entdecken Sie, wie sich die Bevölkerung in verschiedenen Ländern und Altersgruppen
        entwickelt hat und welche Unterschiede es zwischen den Geschlechtern gibt.
        Zukunftsprognosen: Verwenden Sie die bereitgestellten Daten, um zukünftige demografische Veränderungen
        vorherzusagen und deren mögliche Auswirkungen zu verstehen.
    </p>
</div>
{% endblock %}