// colors
$footer-font-color: rgba(255, 255, 255, 0.55);
$footer-font-hover-color: rgba(255, 255, 255, 0.75);

// widths
$container-width: 900px;
$text-decoration-thickness-footer-navbar: 2px;

// paddings
$navbar-item-padding: 36px;
$h1-padding-top: 28px;
$h1-padding-bottom: 22px;
$space-from-footer: 36px;
$hp-div-custom-pb: 5px;
$space-between-charts: 33px;

// offsets
$text-underline-offset-footer-navbar: 6px;

// sizes
$h1-custom-font-size: 2rem;
$h2-custom-font-size: 1.6rem;
$h3-custom-font-size: 1.3rem;

// breakpoints
$medium-devices: 768px;
